
.container {
  display: flex;
  position: relative;
  margin: 100px auto;
  width: 700px;
  height: 600px;
  background-color: white;
  overflow: hidden;
}

.main-container {
  flex-grow: 1;
  transition: margin-left 0.3s;
  width: 100%;
  height: 100%;
  background-color: #fff;
}

/* 사이드바가 열렸을 때의 스타일 */
.container.sidebar-open .sidebar {
  width: 300px; /* 열린 사이드바 너비 */
}
.container.sidebar-open .main-container {
  margin-left: 0px; /* 메인 콘텐츠 이동 */
}

/*토글 hover했을 때 사이드바 나오기*/
/* .sidebar-toggle-button{
  //높이: 투두 헤더 뺀 거
  
} */

.todo-header {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #eee;
  justify-content: center;
  
}

.sidebar-toggle-button { 
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 35px;
  height: 35px;
  left: 0;
  margin-right: 10px;
  cursor: pointer;
}

.sidebar-toggle-button i {
  font-size: 20px;
}

.title {
  flex-grow: 1;
}
.title h1{
  margin: 3px;
  font-size: 20px;
  font-weight: 600;
}
.todolist-main { /* 헤더 아래 div*/

  padding: 5px;
  width: 100%;
  height: 500px;
}

.todo-main-input{
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 20px;
}


.todo-text-input {
  /* transition: all 0.5s ease; */
  /* position: relative; */
  outline: none;
  border: none;
  border-bottom: 2px solid #dbdbdb;
  padding: 5px;
  width: 100%;
  height: 40px;
  font-size: 15px;
}

.todo-text-input:focus {
  border-bottom: 2px solid #808080;
}

.todo-add-button {
  padding: 5px;
}

.main-list-container {
  display: flex;
  margin: 10px;
  /* padding-right: 5px; */
  overflow-y: scroll;
  flex-direction: column;
}

.main-list-container::-webkit-scrollbar {
  width: 3px;
  background-color: white; /*스크롤바의 배경 색*/
}

.main-list-container::-webkit-scrollbar-thumb {
  background-color: #dbdbdb; /*스크롤바의 색*/
  border-radius: 3px;
}

.list-name {
  margin: 15px 10px 10px;
  font-size: 15px;
  font-weight: bold;
}

.list-contents{
  display: flex;
  flex-direction: column;
  /* align-items: end; */
}

.list-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 5px 10px 20px;
  /* margin-bottom: 10px;
  
  margin-right: 5px; */
  width: 95%;
  height: 50px;
  padding: 10px;
  border: 1px solid #dbdbdb;
  border-radius: 5px;
  box-shadow: 3px 3px 3px #dbdbdb;
  
}
.item-left input{
  margin-right: 10px;
}
.item-center {
  flex-grow: 1; /*flexbox 내부의 가운데 요소임. -> 가운데 빈 공간을 모두 채움*/
  padding: 0px 10px;
}
.item-right {
  display: flex;
  align-items: center;
}

.item-right p {
  line-height: 30px;
  margin-right: 10px;
}

.item-right button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  border: 1px solid #dbdbdb;
  border-radius: 4px;
  width: 30px;
  height: 30px;
  background-color: #fff;
}
.item-right i {
  color: #7e7e7e;
}